body{
	font-family: Opens sans, sans-serif;
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
}

h2{
	margin-top: 12px;
}

h1{
	margin-top: 12px;
}

h6{
	margin-right:;
}

p{
	padding-right: 67px;
	padding-left: 67px;
}